[Unit]
Description=Manage Java service

[Service]
WorkingDirectory=/opt/skyplus
ExecStart=/opt/openjdk11/bin/java -jar skyplus.jar
User=skyplus
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
